@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Fors";
  src: url("fonts/tt_fors/TT Fors Trial Regular.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-black px-20 pt-[3%] text-sm h-screen;
  font-family: TT Fors, sans-serif;
}

h3 {
  @apply font-extrabold text-lg;
}
